# Ignore everything
/*
!.gitignore
!.gitmodules

# Except for the files and folders we want to track
!README.md
!README.es.md
!.screenshots
!.bashrc
!.zshrc
!.kde4/
!.gtkrc-2.0
!.gtkrc-2.0.mine
!.spectrwm.conf
!.baraction.sh
!.xsession
!.xprofile
!.Xresources
!.config
!.local
!.conkyrc
!.xmonad

# !.config/
# .config/*
# !.config/qtile/
# !.config/qtile/*
# !.config/alacritty/
# !.config/alacritty/*
# !.config/picom/
# !.config/picom/*
# !.config/volumeicon/
# !.config/volumeicon/*
# !.config/gtk-3.0/
# !.config/gtk-3.0/*
# !.config/lxsession/
# !.config/lxsession/*
# !.config/spotifyd/
# !.config/spotifyd/*
# !.config/dunst/
# !.config/dunst/*
# !.zshrc
# !.gtkrc-2.0
# !.local/
# .local/*
# !.local/share/
# .local/share/*
# !.local/share/wallpapers/
# !.local/share/wallpapers/*