# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist some files
!.gitignore
!README.md

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log

# Whitelist folder/a/b1/ and folder/a/b2/
# trailing "/" is optional for folders, may match file though.
# "/" is NOT optional when followed by a *
!.oh-my-zsh/
!.oh-my-zsh/*
.oh-my-zsh/.github/
!.config/
.config/*
!.config/qtile/
!.config/qtile/*
!.config/alacritty/
!.config/alacritty/*
!.config/picom/
!.config/picom/*
!.zshrc
!.local/
.local/*
!.local/share/
.local/share/*
!.local/share/wallpapers/
!.local/share/wallpapers/*
# !folder/a/b1/
# !folder/a/b2/
# !folder/a/file.txt

# Adding to the above, this also works...
# !/folder/a/deeply
# /folder/a/deeply/*
# !/folder/a/deeply/nested
# /folder/a/deeply/nested/*
# !/folder/a/deeply/nested/subfolder