[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=OpenRGB
Comment=Control RGB lighting
Exec=openrgb --startminimized
Icon=OpenRGB
Terminal=false
Categories=Utility;
