[Desktop Action Capture]
Exec=flameshot gui --delay 500
Name[es_ES]=Tomar captura de pantalla
Name=Take screenshot

[Desktop Action Configure]
Exec=flameshot config
Name[es_ES]=Configurar
Name=Configure

[Desktop Action Launcher]
Exec=flameshot launcher
Name=Open launcher

[Desktop Entry]
Actions=Configure;Capture;Launcher;
Categories=Graphics;
Comment[es_ES]=Software de captura de pantalla potente y fácil de usar.
Comment=Powerful yet simple to use screenshot software.
Exec=/usr/bin/flameshot
GenericName[es_ES]=Herramienta de captura de pantalla
GenericName=Screenshot tool
Icon=org.flameshot.Flameshot
Keywords[es_ES]=flameshot;screenshot;capture;shutter;captura;
Keywords=flameshot;screenshot;capture;shutter;
Name=Flameshot
StartupNotify=false
Terminal=false
Type=Application
X-DBUS-ServiceName=org.flameshot.Flameshot
X-DBUS-StartupType=Unique
X-KDE-DBUS-Restricted-Interfaces=org.kde.kwin.Screenshot
