[Desktop Entry]
Categories=System;Monitor;
Comment=
Comment=Applies desktop settings at first start
Exec=sh -c "~/.config/autostart-scripts/setup.sh && rm -rf ~/.config/autostart/setup.desktop"
GenericName=
GenericName=
Icon=abrt
MimeType=
Name=Apply desktop settings
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
