# Ignore everything
/*
!.gitignore

# Except for the files and folders we want to track
!alacritty
!fish
!omf
!mpv
!Kvantum
!nvim
!rofi
!copyq
!vifm
!ranger
!qtile
!spectrwm
!openbox
!tint2
!xmobar
!dwm
!dwmblocks
!xmonad
!xob
!eww
!dunst
!picom
!gtk-3.0
!gtk-4.0
!lxsession
!spotifyd
!volumeicon
!galendae
!MangoHud
!libinput-gestures.conf
!lxsession-default-apps
!nwg-launchers
!Code
!jgmenu
!bspwm
!sxhkd
!polybar
!openrazer
!autostart
jgmenu/backup/
!zathura
qtile/__pycache__/
!environment.d
